/*** RESET ***/
		*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-family:inherit;vertical-align:baseline;font-size:1em;font-style:normal;-webkit-font-smoothing:antialiased;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;/*user-select:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;*/tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;}*, *::before, *::after{-webkit-transition:.5s;-box-transition:.5s;-o-transition:.5s;transition:.5s;}:hover,:active,:focus{outline:0 !important;}html, body{min-height:100%;font-family:sans-serif;font-size:1rem;position:relative;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;padding:0;line-height:1;}article, footer, header, section{display:block;}ol, ul{list-style:none;}a{display:inline-block;text-decoration:none;background-color:transparent;color:initial;}a img{border:none;}a, button, input[type="submit"]{cursor:pointer !important;}button{// background-color:transparent;}img{width:100%;height:auto;}img::selection{fill:none;color:none;display:none;background:none;}input[type="text"], input[type="number"], input[type="search"], input[type="email"], textarea{text-align:left;max-width:100%;}input[type="checkbox"], input[type="radio"]{display:none;}input[type="submit"]{background-color:transparent;}label{display:inline;}textarea{resize:vertical;}
/*** END RESET ***/

/*** CANCEL ***/
html.pg-search,
.pg-search body { height: 100%; }
body{
	overflow-x:hidden;
}
/*** END CANCEL ***/
		
/*** Z-INDEXES ***/
/*** END Z-INDEXES ***/
		
/*** COLORS ***/
html {background-color:#03EA60;}
#query,
.search-result-item p strong { color:#03EA60;}

.main-header-logo-title,
.main-content-share-list { background-color: black;}

.u-submit { background-color: black !important; }
.u-searchForm-input { border-color: black; }

.u-searchForm-input { background-color: rgba(0, 0, 0, .05) !important; }

.main-content-article,
.main-header-logo-img,
.main-header-title,
.main-footer,
.main-content-share-p,
.search-footer,
.search-header,
.u-searchForm-query,
.u-searchForm-result { background-color: white; }
.main-header-logo-title,
.main-content-share-button,
.u-submit { color: white; }
/*** END COLORS ***/
		
/*** FONTS ***/
@font-face{font-family:"OCR A";src:url("https://notes.intobinary.org/assets/fonts/OCR-A-extended/ocraext.ttf");/*src:url("https://notes.intobinary.org/assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("https://notes.intobinary.org/assets/fonts/ALPHABETH.woff2") format("woff2"),url("https://notes.intobinary.org/assets/fonts/ALPHABETH.woff") format("woff"),url("https://notes.intobinary.org/assets/fonts/ALPHABETH.ttf") format("trutype"),url("https://notes.intobinary.org/assets/fonts/ALPHABETH.svg") format("svg");*/}
body{font-family:"OCR A", serif;}
{font-family:"Arial Black", sans-serif;}
		
.main-header-title { font-size: 2em; }
.main-header-logo-title { font-size: 1.25em; }
		
.search-header,
.search-footer { text-align: center; }

.u-submit {
	font-variant: small-caps;
	text-transform: uppercase;
}

.search-footer a,
.main-footer a { text-decoration: underline; }
/*** END FONTS ***/
		
/*** MEDIA ***/
html { background-image: url("https://notes.intobinary.org/assets/images/matrix-black_www-dot-intobinary-dot-org.png"); }
html {
	background-size: 25% !important;
}
/*** END MEDIA ***/
		
/*** UTILITIES ***/
.u-searchForm-query { display: flex; }
.u-searchForm-input { flex: 1; }

.u-input {
	padding: .5em;
}
.u-submit {
	padding: .5em 1em;
}

.u-searchForm-input {
	border-width: .25em; border-style: solid;
}

.search-wrapper { flex: 1; }
.u-searchForm-input { width: 100%; }
/*** END UTILITIES ***/

/*** MIXINS ***/
/*** END MIXINS ***/

/*** COMMONS ***/
/*** END COMMONS ***/

/*** COMPONENTS ***/
.main-header-logo,
.main-header-logo-title,
.main-content-share,
.main-content-share-list { display: flex; }
.main-header-logo-img,
.main-header-logo-title,
.main-content-share-p,
.main-content-share-list,
.main-content-share-list-item { align-items: center; vertical-align: middle; justify-content: middle; }

.main,
.aside {
	float: left;
}
	
html, body {
	overflow: auto;
}
.aside {
	min-height: 100%;
}
	
.main {
	width: 70%;
}
.main-content {
	margin: 10vh 0;
}
.main-content-article  {
	height: 100vh;
	padding: 2em;
}
.main-content-article-p {
	padding: 1em 0;
}
.main-content-share-p {
	padding: 1em 2em;
}
.main-content-share-button {
	padding: 1em;
		
	border-radius: 50%;
}
.main-header {
//		display: inline-block;
}
.main-header-logo-img {
	width: 15em;
	padding: 1em 2em;
}
.main-header-logo-title {
	padding: 0 1.5em;
}
.main-header-title {
	padding: .5em 1em;
	margin-top: 50vh;
}
.main-footer {
	padding: 1em 2em;
}
	
.aside {
	position: fixed; top: 0; right: 0;
	width: 30%; height: 100%;
//		padding-top: 5em;
}
.aside-img {
	position: absolute; bottom: 0; left: 0; right: 0;
	width: auto; height: 90%;
	display: inline-block;
	margin: 0 auto;
}
/*** END COMPONENTS ***/

/*** PAGE -- SEARCH ***/
.search,
.search-content { display: flex; }
.search { flex-direction: column; }
.search-content { align-items: center; }
.search-content { flex: 1; }

.search {
	width: 100%; height: 100%;
}
.search-header,
.u-searchForm,
.search-footer {
	width: 75%;
	margin: 0 auto;
}
.pg-search .search-header { margin-bottom: 10vh; }
.pg-search .search-footer,
.u-searchForm-result { margin-top: 10vh; }

.pg-search .u-searchForm-query {
//	margin: 10vh auto;
}
.search-header-h1 img {
	height: 1.5em; width: auto;
	vertical-align: middle;
}

/*** END PAGE -- SEARCH ***/
	
/*** INTERACTIVITY ***/
.u-submit {cursor: pointer;}

.u-searchForm-clear,
.u-searchForm-result { display: none; }
.u-searchForm.is-active .u-searchForm-clear,
.u-searchForm.is-active .u-searchForm-result { display: block; }
/*** END INTERACTIVITY ***/
		
/*** MEDIA QUERIES ***/
@media screen and (max-width:50em){
	html, body{font-size:14px;}
	
	.search-header,
	.pg-search .u-searchForm-query,
	.pg-search .u-searchForm-result,
	.search-footer { padding: 1em; }
	.pg-search .u-searchForm-query .u-searchForm-clear,
	.pg-search .u-searchForm-submit { margin-left: 1em; }
	.pg-search .search-result-item { margin: 1em 0; }
}
@media screen and (min-width:50em){
	html, body{font-size:16px;}
	
	.u-searchForm-result .u-searchForm-clear {// display: none !important; }
	
	.search-header,
	.pg-search .u-searchForm-query,
	.pg-search .u-searchForm-result,
	.search-footer { padding: 2em; }
	.pg-search .u-searchForm-query .u-searchForm-clear,
	.pg-search .u-searchForm-submit { margin-left: 2em; }
	.pg-search .search-result-item { margin: 2em 0; }
}
/*** END MEDIA QUERIES ***/
		
/*** DECORATION ***/
/*** END DECORATION ***/
		
/*** ANIMATIONS ***/
/*** END ANIMATIONS ***/

/*** LIBRARY ***/
.is-hidden {
  display: none;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
}

.search-wrapper {
  position: relative;
  z-index: 10;
}

.search-error {
  position: absolute; top: 0; left: 0;
  z-index: 20;
  width: 100%; height: 100%;
  background-color: black;
  color: white;
  text-align: center;

  transition: all 0.5s ease-out;

}

.u-searchForm.expanded {
	background-color: red !important;
}

.u-searchForm .search-error.is-hidden {
  display: none;
}

.fade {
  -webkit-animation: fade 4s;
  animation: fade 4s;
  -moz-animation: fade 4s;
  -o-animation: fade 4s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

#results-count {
  font-size: 0.9em;
  margin: 0 6px 0 0;
}

.search-query {
  flex: 1 1 auto;
  font-size: 1.5em;
}

.search-query-left {
  align-self: flex-end;
}

.search-query-right {
  flex: 0 1 auto;
  text-align: right;
  white-space: nowrap;
  align-self: flex-end;
}

.search-result-page-title {
  font-size: 1.4em;
  padding: .5em 0;
}

.search-results p {
	padding: .5em 0;
  word-wrap: break-word;
}

.search-result-item {
  padding: .5em 1em;
//  border-radius: 4px;
//  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.3);

	border: 1px solid green;
}

#search-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/*** END LIBRARY ***/

/*** HACKS ***/
.pg-search body { overflow-y: scroll; }
/*** END HACKS ***/
		
/*** BETAs ***/
/*** BETAs ***/
		
/*** TO DELETE ***/
/*** TO DELETE ***/